body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Se na Alura tivessem ensinado dessa forma teria sido mais fácil fazer os portfolios */
.imagem-flutuante {
    float: left;
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* a propriedade clear ignora a propriedade float (passa o elemento pra baixo) */
.subtitulo {
    clear: both;
}